# -*- mode:toml; -*-
[config]
    # search paths relative to position of the config file
    moduledirs = ["mythos/kernel", "mythos/arch-config", "applications"]
    destdir = "kernel-amd64"

    # pseudo modules and so on that are assumed as available
    provides = [
      ]

    requires = [
      ]

    modules = [
      "arch-amd64",
      "doxygen",
      "gitignore",
      "thread-mutex-delegating",
      "plugin-dump-multiboot",
      "plugin-performance-monitoring",
      #"app-hello",
      "app-omp-hello",
      #"app-hipsmixer"
    ]

[config.vars]
    mythos_root = "../mythos"
    cxx_path = "../mythos/3rdparty/cxx-amd64/usr"
