# -*- mode:toml; -*-
[config]
    # search paths relative to position of the config file
    moduledirs = ["mythos/kernel", "mythos/arch-config", "applications"]
    destdir = "kernel-ihk"

    provides = [
    ]

    requires = [
      ]

    modules = [
      "arch-ihk",
      "doxygen",
      "kernel-amd64-ihk",
      "gitignore",
      "thread-mutex-delegating",
      #"app-hello"
      #"app-omp-hello",
      #"app-hipsmixer"
      "app-pthread_bench",
      "objects-processor-management"
    ]

[config.vars]
    mythos_root = "../mythos"
    cxx_path = "../mythos/3rdparty/cxx-amd64/usr"
